@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lato:wght@400&family=Montserrat:wght@500&display=swap');

body {
    background-color: #D8DDEF;
    color: #383D3B;
    text-align: center;
}
.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 39px;
}
.subtitulo {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 22px;
}
.titulo-destaque {
    color: #6C757D 
}

.texto-destaque {
    color: #2A9D8F;
}
footer {
    font-family: 'Lato', sans-serif;
    border-bottom: 4px solid #383D3B;
    display: inline-block;
    line-height: 1.4;
}
.paragrafo {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 3%;
}
header {
    border-bottom: 7px solid #383D3B;
}
a {
    font-family: 'Montserrat', sans-serif;
    color: #BF4E30;
    text-decoration: none;
}
a:hover {
    color: #A14426;
    text-decoration: underline;
}
button {
    background-color: #383D3B;
    color: #D8DDEF;
}
.certificados {
    font-size: 17px;
    margin: 3%;
}